/********************/
/* ALGEMENE STIJLEN */
/********************/

:root {
  --white: #fff;
  --blue: #0064C8;
  --darkGrey: #222222;
  --grey: #383838;
  --lightGrey: #878787;
  --whiteGrey: #A8A8A8;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  color: var(--white);
  background-color: var(--darkGrey);
  font-family: 'Fira Sans', sans-serif;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

label {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  margin: 0 0 .3em 0;
}

h3 {
  margin: .5em 0 0 0;
  font-weight: 400;
  font-size: .9em;
  max-height: 3.6em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow-wrap: break-word;
}

h4 {
  margin: 0 0 .3em 0;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

.hidden, main .hidden {
  display: none;
}

/************/
/*  HEADER  */
/************/

body > header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1em 1.5em;
  position: sticky;
  top: 0;
  background: var(--darkGrey);
  z-index: 1;
}

body > header button {
  position: absolute;
  left: 1.8em;
  top: 1.6em;
}

body > header button img {
  width: 2em;
}

body > header a img {
  height: 1.7em;
}


/**********/
/*  MAIN  */
/**********/

main {
  display: flex;
  flex-direction: column;
  padding: 1em;
  letter-spacing: .03em;
}


/*  NAV  */
/*************/

body > nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1.5em;
}

body > nav ul {
  height: 100%;
  background-color: var(--grey);
  border-radius: 1.6em;
  display: flex;
  padding: 1em 2em;
  gap: 1.5em;
}


body > nav a {
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

body > nav img {
  height: 1.6em;
}

body > nav p {
  margin: .4em 0 0 0;
  font-size: .7em;
  letter-spacing: .04em;
}

.activeNav {
  font-weight: 500;
}



/*  FORM  */
/**********/
form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

form input {
  padding: 1em 1em 1em 3.5em;
  width: 80%;
  background-color: var(--grey);
  border: 1px solid var(--lightGrey);
  border-radius: 1em;
  background-image: url('../content/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position: 1em center;
  color: var(--white);
  font-family: 'Fira Sans', sans-serif;
}

form input::placeholder {
  font-family: 'Fira Sans', sans-serif;
  color: var(--whiteGrey);
}

/*  ARTICLE's  */
/*************/

article {
  margin: 0 0 2em 0;
  position: relative;
}

article li {
  width: 7.7em;
}

.discover ul {
  list-style: none;
  padding: 0 0 .5em 0;
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: .7em;
}

.book_img {
  height: 11em;
  width: 7.7em;
  background-color: var(--lightGrey);
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




/*  Detail  */
/*************/
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}

.detail nav {
  position: fixed;
  right: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail nav img {
  height: 2em;
}

.detail > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail header img {
  border-radius: 1em;
  margin-bottom: .6em;
  width: 11.3em;
  min-height: 11em;
  background-color: var(--lightGrey);
}

.detail header h2,
.detail header p {
  text-align: center;
}

.detail header p {
  font-style: italic;
  margin: 0;
}

.detail section {
  align-items: flex-start;
  margin-top: 1em;
  width: 100%;
}

.detail section p {
  font-size: .8em;
}

.detail section div {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}

.detail a {
  background: var(--blue);
  padding: 1em 2em;
  border-radius: 1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1em;
  text-decoration: none;
  color: var(--white);
}


.column ul {
  list-style: none;
  padding: 0 0 4em 0;
  display: flex;
  width: 100%;
  overflow-x: auto;
  /* justify-content: space-between; */
  gap: 1.5em 2em;
  flex-wrap: wrap;
}

.library span {
  display: flex;
  justify-content: space-between;
}

.library span a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: .5em .7em;
  border-radius: .8em;
}

.library header {
  margin-bottom: 1em;
}


.loader {
  width: 100%;
  height: 70vh;
  background: var(--darkGrey);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.loader div {
  width: 4.5em;
  height: 4.5em;
  border: 9px solid #f3f3f3;
  border-top: 10px solid var(--blue);
  border-radius: 100%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.loaderDisplay {
  display: flex;
}

.loaderDisplay div {
  animation: spin 1.5s infinite linear;
}